$green_action:#00c405;
$token_secure: #e6360f;
$token_access: #1094e6;
$default_dark: #444;

$description_get: #3c8ce7;
$description_post: #3ce870;
$description_put:#e8ce3c;
$description_delete: #e8563c;
$description_search: #ac3ce8;
