
.console {
  background-color: #fff;
  color: #444;
  padding: 10px 15px 30px;
  margin-left: -15px;
  margin-right: -15px;
  border-left: 1px solid #eee;
}

@media (min-width: 769px) {
  .console {
    position: fixed;
    top:15px;
    right: 0;
    bottom: 0;
    left:50%;
    overflow: auto;
    margin: 0px;
  }
}

.console pre {
  color: #444;
  background-color: #fff;
}


.btn-success.dropdown-toggle {
  background-color: #444;
  border: 1px solid #444;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
  background-color: #888;
  border: 1px solid #888;

}

.open>.dropdown-menu {
  display: block;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
