<header>
  <span class="title" v-if="$dataset.information.name">
    <span v-if="$dataset.information.name">{{ $dataset.information.name}}</span>
    <span v-if="$dataset.information.version">v: {{$dataset.information.version}}</span>
  </span>
  <span class="token access" v-if="$state.expireAt">{{ $state.expireAt }}</span>
  <nav>
    <RouterLink to="/">Home</RouterLink>
    <RouterLink to="/about">About</RouterLink>
  </nav>
</header>
<Login v-if="!$state.isLogin"></Login>
<RouterView v-if="$state.isLogin"></RouterView>
